In [32]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn import preprocessing

In [33]:
train = pd.read_csv('train.csv')

In [34]:
train.head()

,Id,Target,Duration,Language,Country,Rating,Action,Adventure,Animation,Biography,...,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western,Poster
0,1,0,139,English,France,PG-13,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1.jpg
1,2,0,90,English,USA,R,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2.jpg
2,3,0,103,Mandarin,China,R,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3.jpg
3,4,0,108,Dzongkha,Australia,NaN,0,1,0,0,...,0,0,0,0,0,0,0,0,0,4.jpg
4,5,0,122,English,USA,PG-13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,5.jpg

In [35]:
test = pd.read_csv('test.csv')

In [36]:
test.head()

,Id,Duration,Language,Country,Rating,Action,Adventure,Animation,Biography,Crime,...,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western,Poster
0,3636,89,English,USA,NaN,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,3636.jpg
1,3637,113,English,UK,R,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,3637.jpg
2,3638,97,English,USA,R,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,3638.jpg
3,3639,115,English,USA,R,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,3639.jpg
4,3640,105,English,France,R,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,3640.jpg

In [37]:
del train['Poster']
del test['Poster']
del train['Id']
id_test = test['Id']
del test['Id']
y = train['Target']
del train['Target']

Бинаризируем признаки

In [38]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [39]:
train.head()

,Duration,Action,Adventure,Animation,Biography,Crime,Documentary,Drama,Family,Fantasy,...,Rating_Not Rated,Rating_PG,Rating_PG-13,Rating_Passed,Rating_R,Rating_TV-14,Rating_TV-G,Rating_TV-MA,Rating_Unrated,Rating_X
0,139,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,103,1,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,108,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,122,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [40]:
test.head()

,Duration,Action,Adventure,Animation,Biography,Crime,Documentary,Drama,Family,Fantasy,...,Rating_GP,Rating_M,Rating_NC-17,Rating_Not Rated,Rating_PG,Rating_PG-13,Rating_Passed,Rating_R,Rating_Unrated,Rating_X
0,89,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,113,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,97,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,115,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,105,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

После бинаризации признаков оказалось, что некоторые признаки есть в одной таблице ,
но нет во второй.Поэтому добавляем недостающие признаки и помечаем их нулями.

In [41]:
for name in train.columns.values:
    if name not in test.columns.values:
        test[name] = 0
        
for name in test.columns.values:
    if name not in train.columns.values:
        train[name] = 0

In [42]:
train.shape

(3635, 137)

In [43]:
test.shape

(909, 137)

Упорядочим признаки в каждой из таблиц по алфавиту.

In [44]:
train = train.reindex_axis(sorted(train.columns), axis=1)
test = test.reindex_axis(sorted(test.columns), axis=1)

In [45]:
train.head()

,Action,Adventure,Animation,Biography,Country_Afghanistan,Country_Argentina,Country_Aruba,Country_Australia,Country_Bahamas,Country_Belgium,...,Rating_TV-G,Rating_TV-MA,Rating_Unrated,Rating_X,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [46]:
test.head()

,Action,Adventure,Animation,Biography,Country_Afghanistan,Country_Argentina,Country_Aruba,Country_Australia,Country_Bahamas,Country_Belgium,...,Rating_TV-G,Rating_TV-MA,Rating_Unrated,Rating_X,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

Используем метод fit, чтобы обучить модель.

In [47]:
scaler = preprocessing.StandardScaler().fit(train.values)
x_train = scaler.transform(train.values) 
x_test = scaler.transform(test.values)

/home/ilya/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

При помощи логистической регрессии строим линейный классификатор, чтобы определить вероятность принадлежности фильма к комедии.

In [48]:
best_score = 0
best_c = 0
for c in np.logspace(-10, 10, 50):
    clf = LogisticRegression(C=c, penalty='l2', max_iter=100, random_state=42)
    score = cross_val_score(clf, x_train, y.values, 
                            cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42), scoring='accuracy').mean()
    print(c, score)
    if best_score < score:
        best_score = score
        best_c = c
print(best_c, best_score)

1e-10 0.763422072488
2.5595479227e-10 0.763422072488
6.5512855686e-10 0.763422072488
1.67683293681e-09 0.763422072488
4.29193426013e-09 0.763422072488
1.09854114199e-08 0.763422072488
2.81176869797e-08 0.763422072488
7.19685673001e-08 0.763422072488
1.84206996933e-07 0.763422072488
4.71486636346e-07 0.763697554582
1.20679264064e-06 0.763697554582
3.08884359648e-06 0.763697554582
7.90604321091e-06 0.764798725096
2.02358964773e-05 0.765349310354
5.17947467923e-05 0.766998415698
0.000132571136559 0.77002341475
0.00033932217719 0.773873345403
0.000868511373751 0.785150687752
0.00222299648253 0.800833845826
0.00568986602902 0.806057785947
0.014563484775 0.806879314467
0.0372759372031 0.804128659678
0.095409547635 0.803304862783
0.244205309455 0.801929724854
0.625055192527 0.802480310111
1.59985871961 0.802204828018
4.09491506238 0.801380274304
10.4811313415 0.801380274304
26.8269579528 0.801930859562
68.6648845004 0.801380652193
175.751062485 0.801380652193
449.843266897 0.801380652193
1151.39539933 0.801380652193
2947.05170255 0.801380652193
7543.12006335 0.801380652193
19306.9772888 0.801380652193
49417.1336132 0.801380652193
126485.521686 0.801380652193
323745.754282 0.801380652193
828642.772855 0.801380652193
2120950.88792 0.801380652193
5428675.43932 0.801380652193
13894954.9437 0.801380652193
35564803.0622 0.801380652193
91029817.7992 0.801380652193
232995181.052 0.801380652193
596362331.659 0.801380652193
1526417967.18 0.801380652193
3906939937.05 0.801380652193
10000000000.0 0.801380652193
0.014563484775 0.806879314467

In [51]:
clf = LogisticRegression(C=0.0145634, penalty='l2', max_iter=1000, random_state=42)

In [52]:
clf.fit(x_train, y.values)

LogisticRegression(C=0.0145634, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=1000,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=42,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [113]:
matrix = clf.predict_proba(x_test)

In [118]:
matrix = matrix[:,1]

In [119]:
first = np.array([id_test.values]).T

In [120]:
second = np.array([matrix]).T

In [121]:
print(first.shape, second.shape)

(909, 1) (909, 1)

In [122]:
df = pd.DataFrame(np.concatenate((first, second), axis=1),columns=['id','Probabillity'])

In [123]:
df

         id  Probabillity
0    3636.0      0.385408
1    3637.0      0.110059
2    3638.0      0.661374
3    3639.0      0.050712
4    3640.0      0.206892
5    3641.0      0.645698
6    3642.0      0.098573
7    3643.0      0.569918
8    3644.0      0.441277
9    3645.0      0.291758
10   3646.0      0.859628
11   3647.0      0.900023
12   3648.0      0.279130
13   3649.0      0.241064
14   3650.0      0.431801
15   3651.0      0.160396
16   3652.0      0.017912
17   3653.0      0.244432
18   3654.0      0.165200
19   3655.0      0.649191
20   3656.0      0.534679
21   3657.0      0.854140
22   3658.0      0.313565
23   3659.0      0.113853
24   3660.0      0.522139
25   3661.0      0.084361
26   3662.0      0.519315
27   3663.0      0.015238
28   3664.0      0.239184
29   3665.0      0.201184
..      ...           ...
879  4515.0      0.494949
880  4516.0      0.066078
881  4517.0      0.819240
882  4518.0      0.304390
883  4519.0      0.633384
884  4520.0      0.153646
885  4521.0      0.070221
886  4522.0      0.328415
887  4523.0      0.518744
888  4524.0      0.892729
889  4525.0      0.752717
890  4526.0      0.846761
891  4527.0      0.223571
892  4528.0      0.423658
893  4529.0      0.453380
894  4530.0      0.129049
895  4531.0      0.622115
896  4532.0      0.817903
897  4533.0      0.158627
898  4534.0      0.506673
899  4535.0      0.160589
900  4536.0      0.054502
901  4537.0      0.327818
902  4538.0      0.494787
903  4539.0      0.510204
904  4540.0      0.777043
905  4541.0      0.361442
906  4542.0      0.531758
907  4543.0      0.542560
908  4544.0      0.034179

[909 rows x 2 columns]

In [127]:
pd.DataFrame.to_csv(df, "sumb.csv")